{% extends "base.html" %}
{% block content %}
<div class="grid grid-cols-1 md:grid-cols-3 pt-24 px-12 gap-x-4 gap-y-16">
    {% for product in products %}
    <div class="group relative overflow-hidden bg-white">
        <!-- Primary Image -->
        {% if product.primary_image %}
        <img src="{{ product.primary_image.url }}" class="w-full transition-opacity duration-500 group-hover:opacity-0">
        {% else %}
        <div class="w-full aspect-square bg-gray-100 flex items-center justify-center transition-opacity duration-500 group-hover:opacity-0">No Primary</div>
        {% endif %}
        
        <!-- Hover Image -->
        {% if product.hover_image %}
        <img src="{{ product.hover_image.url }}" class="absolute top-0 left-0 w-full opacity-0 transition-opacity duration-500 group-hover:opacity-100">
        {% else %}
        <div class="absolute top-0 left-0 w-full aspect-square bg-gray-200 opacity-0 flex items-center justify-center transition-opacity duration-500 group-hover:opacity-100">No Hover</div>
        {% endif %}
        
        <div class="p-4 text-center">
            <p class="font-bold uppercase tracking-tight">{{ product.name }}</p>
            <p>${{ product.price }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
